<h1>About Bloccit</h1>
<p>Created by Spencer Neff and his mentor at <%= link_to 'bloc.io','https://bloc.io', :target => '_blank' %></p>

<%= link_to "Follow me", "https://twitter.com/neffnet", class: "social-btn" %>
